@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

.card {
  display: inline-block;
  background-color: #fff;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
}

.topIcon {
  position: absolute;
  font-size: 80px;
  top: 10px;
  left: 20px;
}

.topIconRed {
  position: absolute;
  font-size: 80px;
  float: left;
  color: red;
}

.bottomIconRed {
  position: absolute;
  font-size: 80px;
  float: right;
  color: red;
}

.bottomIcon {
  position: absolute;
  font-size: 80px;
  bottom: 10px;
  right: 20px;
  transform: rotate(180deg);
}

.numberCard {
  font-size: 80px;
  top: 34%;
  position: absolute;
}
